*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: medium;
}
a{
  text-decoration: none;
  color: inherit;
}

.container{
  display: flex;
  color: #fff;
  background: #37393e;
}
.top{
  background-color: #2f3137;
  padding: 15px;

  position: sticky;
  top: 0px;
  font-size: larger;
}

.main-wrapper{
  width: 100%;
  flex: 1 1 20em;
}
.filler{
  flex: 1;
}
.send-wrapper{
  position: fixed;
  bottom: -13px;
  width: calc(100% - 200px);
  height: 120px;
}
.disclaimer{
  margin: auto;
  word-wrap: normal;
  padding: 2px;
  max-width: 200px;
  align-self: center;
}
/* When creen is smaller than 700 px: */
@media only screen and (max-width: 700px) { 
  .container{
    flex-direction:column;
    width: 100vw;
  }
  .sidebar{
    width: 100vw;
    max-height: 35vh;
    position: relative;
    z-index: 1;
    /* margin-bottom: 100px; */
  }
  .top{
    position: relative;
  }
  .chat-wrapper{
    height: 100vh;
  }
  .send-wrapper{
    width: 100vw;
  }
  .msg{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    /* font-size: small; */
  }

}